## Local bin path
export PATH=$HOME/.local/bin:$PATH

# cross-system defaults for editors: helix > vim > nano > DEFAULT
set_default_editor() {
  if command -v nvim &> /dev/null
  then
    export EDITOR='nvim'
  elif command -v vim &> /dev/null
  then
    export EDITOR='vim'
  elif command -v nano &> /dev/null
  then
    export EDITOR='nano'
  fi
}
set_default_editor

# Use PyEnv if installed
export PATH=$HOME/.pyenv/bin:$PATH
set_pyenv() {
  if command -v pyenv &> /dev/null
  then
    export PYENV_ROOT="$HOME/.pyenv"
    command -v pyenv >/dev/null || export PATH="$PYENV_ROOT/bin:$PATH"
    eval "$(pyenv init -)"
    eval "$(pyenv virtualenv-init -)"
  fi
}
set_pyenv

# Register Pipx Autocomplete
  eval "$(register-python-argcomplete pipx)"

# Shell Tricks
eval "$(zoxide init zsh)"
eval "$(starship init zsh)"
source ~/.atuin_zsh

# compinit completion paths
fpath+=(~/.config/hcloud/completion/zsh)
fpath+=(~/.config/op/completion/zsh)

# ZSH Completions
autoload -Uz compinit; compinit
  autoload -U bashcompinit
  bashcompinit

# pnpm
export PNPM_HOME="/home/driordan/.local/share/pnpm"
case ":$PATH:" in
  *":$PNPM_HOME:"*) ;;
  *) export PATH="$PNPM_HOME:$PATH" ;;
esac
# pnpm end

export OPENAI_API_KEY={{ range (onepassword "cozvzdy7evrptelieybmavaj2a").fields -}}
{{   if (eq .label "gpt-engineer") -}}
{{     .value -}}
{{   end -}}
{{ end }}